@import '../../Assets/Sass/variables';
@import '../../Assets/Sass/mixins';

.listaLinks {
    width: 100%;
    .cabecalhos {
        background-color: darken($lightGrey, 3%);
        font-weight: 700;
        color: rgba($preto, .7);
        text-align: center;
        justify-content: center;
    }
    .cabecalhos, ul li {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        border: 1px solid #CCC;
        border-top: none;
        line-height: 1.2em;
    }
    ul li {
        &:nth-child(2n) {
            background-color: lighten($lightGrey, 2%);
        }
    }
    div.field {
        padding: 13px;
        display: flex;
        align-items: center;
        border-right: 1px solid #CCC;
        &:last-child {
            border-right: none;
        }
    }
    .nome {
        width: 15%;
    }
    .ogLink {
        width: 45%;
    }
    .utm {
        width: 10%;
        justify-content: center;
    }
    .actions {
        width: 10%;
        justify-content: center;
        button {
            width: 20px;
            height: 20px;
            position: relative;
            overflow: hidden;
            &:nth-child(2) {
                margin: 0 7px;
            }
            .toolTip {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                top: -20px;
                opacity: 0;
                transition: .3s ease-in-out;
                transition-delay: .4s;
                //display: none;
            }
            &:hover {
                overflow: visible;
                .toolTip {
                    //display: block;
                    //top: -20px;
                    opacity: 1;
                }
            }
        }
    }
    .breakWord {
        word-break: break-all;
    }
}

.modal {
    .btnsConfirm {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-top: 15px;
        button {
            width: 40%;
            padding: 10px 15px;
            border-radius: 5px;
            font-size: .9rem;
            display: flex;
            justify-content: center;
            outline: none;
            text-decoration: none;
            transition: .3s;
            margin: 0 5px;
            svg {
                margin-right: 5px;
            }
        }
        .confirm {
            border: 1px solid darken($pastelGreen, 10%);
            color: darken($pastelGreen, 50%);
            background: $pastelGreen;
            &:hover {
                background-color: lighten($pastelGreen, 10%);
                color: darken($pastelGreen, 30%);
            }
        }
        .cancel {
            border: 1px solid darken($pastelRed, 15%);
            color: darken($pastelRed, 60%);
            background: darken($pastelRed, 8%);
            &:hover {
                background-color: lighten($pastelRed, 10%);
                color: darken($pastelRed, 30%);
            }
        }
    }
}

/*

*/

