@import '../../Assets/Sass/variables';
@import '../../Assets/Sass/mixins';

.containerListaLinks {
    display: flex;
    //align-content: center;
    //align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    //height: calc(100vh - 60px);
    //padding-top: 60px;
    padding: 80px 10% 0;
}

.topSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 12px 17px;
    border-radius: 5px 5px 0 0;
    background: darken($lightGrey, 5%);
    border: 1px solid #ccc;
    h1 {
        font-size: 1.7vw;
        font-weight: 700;
        letter-spacing: -1px;
        opacity: .8;
    }
    button, a {
        background: $pastelGreen;
        //height: 100%;
        padding: 10px 15px;
        border-radius: 5px;
        border: 1px solid darken($pastelGreen, 10%);
        color:  darken($pastelGreen, 50%);
        display: flex;
        justify-content: space-between;
        width: 12.2vw;
        outline: none;
        text-decoration: none;
        transition: .3s;
        &:hover {
            background-color: lighten($pastelGreen, 10%);
            color: darken($pastelGreen, 30%);
        }
    }
}

.listaLinks {
    .cabecalhos {
        background-color: darken($lightGrey, 3%);
        font-weight: 700;
        color: rgba($preto, .7);
        text-align: center;
        justify-content: center;
    }
    .cabecalhos, ul li {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        border: 1px solid #CCC;
        border-top: none;
        line-height: 1.2em;
    }
    ul li {
        &:nth-child(2n) {
            background-color: lighten($lightGrey, 2%);
        }
    }
    div.field {
        padding: 10px;
        display: flex;
        align-items: center;
        border-right: 1px solid #CCC;
        &:last-child {
            border-right: none;
        }
    }
    .nome {
        width: 15%;
    }
    .ogLink {
        width: 45%;
    }
    .utm {
        width: 10%;
        justify-content: center;
    }
    .actions {
        width: 10%;
        justify-content: center;
        button {
            width: 20px;
            height: 20px;
            position: relative;
            overflow: hidden;
            &:nth-child(2) {
                margin: 0 7px;
            }
            .toolTip {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                top: -20px;
                opacity: 0;
                transition: .3s ease-in-out;
                transition-delay: .4s;
                //display: none;
            }
            &:hover {
                overflow: visible;
                .toolTip {
                    //display: block;
                    //top: -20px;
                    opacity: 1;
                }
            }
        }
    }
    .breakWord {
        word-break: break-all;
    }
}

/*

*/

