@import '../../Assets/Sass/variables';
@import '../../Assets/Sass/mixins';

.container {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 60px);
    padding-top: 60px;
}