// Cores
$preto: #000;
$branco: #fff;
$lightGrey: #eee;
$tituloModal: #333;
$amarelo: #ffbc00;
$btn-verde: #33CC33;

$lightBlue: #00AFEF;
$deepBlue: #2A569F;
$bgForm: #F0F0F0;
$darkBlue: #001D44;

// Tamanhos de tela
$small-mobile-width: 320px;
$mobile-width: 768px;
$tablet-width: $mobile-width + 1px;
$desktop-width: 1350px;
$large-desktop-width: 1440px;

$smallMobile: "(max-width: #{$small-mobile-width})";
$mobile: "(min-width: #{$small-mobile-width}) and (max-width: #{$mobile-width})";
$tablet: "(min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px})";
$desktop: "(min-width: #{$desktop-width}) and (max-width: #{$large-desktop-width - 1px})";
$desktopLarge: "(min-width: #{$large-desktop-width})";