@import '../../Assets/Sass/variables';
.topSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 12px 17px;
    border-radius: 5px 5px 0 0;
    background: darken($lightGrey, 5%);
    border: 1px solid #ccc;
    h1 {
        font-size: 1.5vw;
        font-weight: 700;
        letter-spacing: -1px;
        opacity: .8;
    }
    button, a {
        background: $pastelGreen;
        //height: 100%;
        padding: 10px 15px;
        border-radius: 5px;
        border: 1px solid darken($pastelGreen, 10%);
        color:  darken($pastelGreen, 50%);
        display: flex;
        justify-content: space-between;
        //width: 12.2vw;
        outline: none;
        text-decoration: none;
        transition: .3s;
        &:hover {
            background-color: lighten($pastelGreen, 10%);
            color: darken($pastelGreen, 30%);
        }
        svg {
            margin: 0 7px 0 0
        }
    }
}